.working_area {
    -fx-background-color: rgba(142, 194, 197, 0.307);
}

.logo_area {
    -fx-background-color: linear-gradient(to top left, #2a6994, #154e59);
}

.textfields {
    -fx-background-color: transparent;
    -fx-border-color: #4993a9;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-padding: 5px 5px 5px 25px;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.6);
    -fx-font-size: 15px;
}

.textfieldsadminregister {
    -fx-background-color: transparent;
    -fx-border-color: #4993a9;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-padding: 5px 5px -1px 5px;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.5);
    -fx-font-size: 15px;
}

.textfields:focused {
    -fx-border-width: 0px 0px 2px 0px;
}

.drop-shadow {
    -fx-effect: dropshadow(gaussian, #98b0b4, 40px, 0px, 0px, 0px);
}

.minimize {
    -fx-background-color: transparent;
}

.minimize:hover {
    -fx-background-color: #154e59;
}

.close {
    -fx-background-color: transparent;
}

.close:hover {
    -fx-background-color: red;
}

.fullscreen {
    -fx-background-color: transparent;
}

.fullscreen:hover {
    -fx-background-color: #59866e;
}

.loginbtn {
    -fx-background-radius: 5px;
    -fx-background-color: rgb(15, 120, 149);
    -fx-text-fill: white;
}

.loginbtn:hover {
    -fx-background-color: rgb(52, 116, 52);
}

.registerbtn {
    -fx-background-color: transparent;
    -fx-underline: true;
}

.registrationstatusbtn {
    -fx-background-radius: 5px;
    -fx-background-color: rgb(15, 120, 149);
    -fx-text-fill: white;
}

.registrationstatusbtn:hover {
    -fx-background-color: #366f7a;
}

.viewResultbtn {
    -fx-background-radius: 5px;
    -fx-background-color: rgb(15, 120, 149);
    -fx-text-fill: white;
}

.adminbtn {
    -fx-background-radius: 5px;
    -fx-background-color: rgb(15, 120, 149);
    -fx-text-fill: white;
}

/* Register Form */

.evote {
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, #fffdfd, 10px, 0.7, 0px, 0px);
}

.evote:hover {
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #030303, 10px, 0.7, 0px, 0px);
}

.register-registerbtn {
    -fx-background-color: rgba(54, 102, 134, 0.662);
    -fx-font-size: 17px;
    -fx-text-fill: white;
}

.register-voter-login {
    -fx-background-color: transparent;
    -fx-font-size: 17px;
    -fx-text-fill: white;
}

.register-voter-login:hover {
    -fx-font-size: 19px;
    -fx-background-color: rgba(25, 82, 106, 0.848);
}

/* VOTER DASHBOARD */

.votebtn {
    -fx-background-radius: 5px;
    -fx-background-color: rgb(15, 120, 149);
    -fx-text-fill: white;
}

.votebtn:hover {
    -fx-background-color: rgb(52, 116, 52);
}

.voter-nav-vote {
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-background-color: rgb(15, 120, 149);
}

.voter-nav-vote:hover {
    -fx-font-size: 17px;
}

.voter-nav-button {
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.voter-nav-button:hover {
    -fx-font-size: 17px;
    -fx-background-color: transparent;
}

.voter-nav-logout {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.voter-nav-logout:hover {
    -fx-font-size: 16px;
}

.changepasswordbtn {
    -fx-background-radius: 5px;
    -fx-background-color: rgb(15, 120, 149);
    -fx-text-fill: white;
}

.changepasswordbtn:hover {
    -fx-background-color: rgb(52, 116, 52);
}

/* admin dashboard */

.admin_strvot_btn {
    -fx-background-color: rgb(15, 120, 149);
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.admin_strvot_btn:hover {
    -fx-font-size: 16px;
}

.admin_verifyvoter_btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.admin_verifyvoter_btn:hover {
    -fx-font-size: 16px;
}

.admin_publishres_btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.admin_publishres_btn:hover {
    -fx-font-size: 16px;
}

.admin_voter_btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.admin_voter_btn:hover {
    -fx-font-size: 16px;
}

.admin_changepass_btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.admin_changepass_btn:hover {
    -fx-font-size: 16px;
}

.start {
    -fx-background-radius: 5px;
    -fx-background-color: rgb(15, 120, 149);
    -fx-text-fill: white;
}

.start:hover {
    -fx-background-color: rgb(52, 116, 52);
}

.insert-image {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}

.insert-image:hover {
    -fx-background-color: rgb(66, 126, 156);
}

.checkbox-prompttext {
    -fx-prompt-text-fill: #000;
}

/* publish result */

.end {
    -fx-background-radius: 5px;
    -fx-background-color: rgba(202, 43, 15, 0.863);
    -fx-text-fill: white;
}

.end:hover {
    -fx-background-color: rgba(247, 39, 2, 0.863);
}

/* voter */

.delete {
    -fx-background-radius: 5px;
    -fx-background-color: rgb(218, 55, 27);
    -fx-text-fill: white;
}

.delete:hover {
    -fx-background-color: rgba(252, 1, 1, 0.863);
}

.date-picker .spinner .left-arrow,
.date-picker .spinner .right-arrow {
    -fx-padding: 0.5em; /* Increase padding for larger click area */
    -fx-background-color: #0078d7; /* Change background color */
    -fx-text-fill: white; /* Change arrow color */
    -fx-background-radius: 4px; /* Rounded corners */
}

.date-picker .spinner .left-arrow:hover,
.date-picker .spinner .right-arrow:hover {
    -fx-background-color: #005fa3; /* Darker color on hover */
}

.date-picker .spinner {
    -fx-font-size: 16px; /* Increase font size */
}
